@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --lilás: #cdb4dbff;
--rosafraco: #ffc8ddff;
--rosaforte: #ffafccff;
--azulescuro: #bde0feff;
--azulclaro: #a2d2ffff;
--fonte-principal: "Raleway", sans-serif;
}

body{
background-color: var(--rosafraco);
color: var(--lilás);
}

.titulo-principal {
    font-family: var(--fonte-principal);
}

.cabecalho-img{
    width: 10%;
    border-radius: 100%;
}

.cabecalho-nav_link{
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 24px;
    color: var(--lilás);
    margin-right: 24px;
}

.principal_capa{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    margin-left: 24px;
    padding: 24px 12px;
}

.principal_capa__conteudo{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.principal_capa__titulo{
    font-family: var(--fonte-principal);
    font-size: 34px;
    color: var(--azulescuro);
    margin-bottom: 12px;
}

.principal_capa__texto{
    font-size: 24px;
    margin-top: 24px;
}

.principal_capa__imagem{
    border-radius: 0 2% 0 2%;
}

.principal_capa__combotao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.principal_capa__botao{
    background-color: var(--lilás);
    border-radius: 5px;
    padding: 1em;
    margin-top: 2em;
    color: var(--rosafraco);
    text-decoration: none;
}

.principal_capa__imagem{
    border-radius: 4px;
    padding: 3em;
    margin-left: 4;
}