@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --lilás: #cdb4dbff;
--rosafraco: #ffc8ddff;
--rosaforte: #ffafccff;
--azulescuro: #bde0feff;
--azulclaro: #a2d2ffff;
--fonte-principal: "Raleway", sans-serif;
}

body{
background-color: var(--azulclaro);
color: var(--lilás);
}

.titulo-principal {
    font-family: var(--fonte-principal);
}

.cabecalho-img{
    width: 10%;
    border-radius: 100%;
}

.cabecalho-nav_link{
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 24px;
    color: var(--lilás);
    margin-right: 24px;
}
